<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

 <%= render 'pages/navbar', class:"sticky" %>
<div class="container d-flex justify-content align-items-center w-100">
  <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true, class: "container" do |form| %>
    <div class="form-group mt-2">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control rounded" %>
    </div>
    <div class="form-group mt-3">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control rounded" %>
    </div>
    <div class="form-group mt-3">
      <%= form.label :email %>
      <%= form.email_field :email, class: "form-control rounded" %>
    </div>
    <div class="form-group mt-3">
      <%= form.label :message %>
      <%= form.text_area :message, class: "form-control rounded" %>
    </div>
    <%= form.submit "Submit", class: "btn btn-primary mt-3 rounded" %>
  <% end %>
</div>
