<div class="main-container">
   <%= render 'navbar', class:"sticky" %>
  <%= form_with(model: ContactMessage.new, url: new_contact_path) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit "Envoyer" %>
<% end %>

</div>
