<div class="main-container">
   <%= render 'navbar', class:"sticky" %>

  <div class="carousel-container" data-controller="carousel">
    <div class="carousel-slide" data-carousel-target="slide">
      <img src="https://wallpapers.com/images/high/giant-s-causeway-rock-pile-formatiion-d885k4mmyh4bzenl.webp" alt="Image 1">
      <div class="carousel-caption">
        <h1>Apprendre l'anglais sur Mesure</h1>
      </div>
    </div>

    <div class="carousel-slide" data-carousel-target="slide">
      <%= image_tag "https://wallpapers.com/images/high/majestic-sydney-opera-house-at-sunset-wdzezf9d5uvld0fq.webp", alt: "Image 2" %>
      <div class="carousel-caption">
        <h1>Apprendre l'anglais sur Mesure</h1>
      </div>
    </div>

    <div class="carousel-slide" data-carousel-target="slide">
      <%= image_tag "https://wallpapers.com/images/hd/london-night-life-e7fhpgjr3to00iab.webp", alt: "Image 2" %>
      <div class="carousel-caption">
        <h1>Apprendre l'anglais sur Mesure</h1>
      </div>
     </div>

    <div class="carousel-slide" data-carousel-target="slide">
      <%= image_tag "https://wallpapers.com/images/high/three-giraffes-silhouette-in-south-africa-g0k4niee6cr20qn2.webp", alt: "Image 2" %>
      <div class="carousel-caption">
        <h1>Apprendre l'anglais sur Mesure</h1>
      </div>
    </div>

      <div class="carousel-slide" data-carousel-target="slide">
        <%= image_tag "https://wallpapers.com/images/hd/new-york-cityscape-drone-shot-5zaj1w9f1atiyaja.webp", alt: "Image 2" %>
        <div class="carousel-caption">
          <h1>Apprendre l'anglais sur Mesure</h1>
        </div>
       </div>

      <div class="carousel-slide" data-carousel-target="slide">
        <%= image_tag "https://wallpapers.com/images/high/grand-canyon-pictures-n3ze7yn0zdmzg9mi.webp", alt: "Image 2" %>
        <div class="carousel-caption">
          <h1>Apprendre l'anglais sur Mesure</h1>
        </div>
      </div>

    <!-- Ajouter d'autres slides selon le besoin -->
  </div>

</div>
  <%= render 'footer' %>
