<div class="main-container">
  <%= render 'navbar', class:"sticky" %>
  <div class="about-me-container">
    <div class="left-div">
      <h1 >About me</h1>
      <div class="photo-prez">
        <%= image_tag("adrien.jpg", width: 250, class: "photo-home") %>
      </div>
      <div class="button type--C">
        <%= link_to '#my-anchor-point', class:"card-link" do %>
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">Mes projets</span>
        <div class="button__drow1"></div>
        <div class="button__drow2"></div>
        <% end %>
      </div>
    </div>
    <div class="right-div">
      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('basketball.jpg') %>')">
						<div class="inner">
							<p>Basketball</p>
              <span>Joueur et Entraineur</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>projet g ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>

      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('coding.jpg') %>')">
						<div class="inner">
							<p>Code</p>
              <span>Programmation / les internets</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>

      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('reading.jpg') %>')">
						<div class="inner">
							<p>Lecture</p>
              <span>Littérature and Co.</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>

      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('guitar.jpg') %>')">
						<div class="inner">
							<p>Musique</p>
              <span>Overdosing Spotify</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>

      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('teaching.jpg') %>')">
						<div class="inner">
							<p>Enseignement</p>
              <span>Apprendre, partager, transmettre</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>

      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('english.jpg') %>')">
						<div class="inner">
							<p>Anglais</p>
              <span>Langue et Culture</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
						</div>
					</div>
				</div>
			</div>

    </div>
  </div>

  <div class="portfolio" id="my-anchor-point">
  </div>
  <%= render 'footer' %>
</div>
