<div class="main-container">
  <%= render 'navbar', class:"sticky" %>
  <div class="about-me-container">
    <div class="left-div">
      <h1 >About me</h1>
      <div class="photo-prez">
        <%= image_tag("adrien.jpg", width: 250, class: "photo-home") %>
      </div>
      <div class="button type--C">
        <%= link_to '#my-anchor-point', class:"card-link" do %>
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">Mes projets</span>
        <div class="button__drow1"></div>
        <div class="button__drow2"></div>
        <% end %>
      </div>
    </div>
    <div class="right-div">
      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('basketball.jpg') %>')">
						<div class="inner">
							<p>Basketball</p>
              <span>Joueur et Entraineur</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p> Entraîneur et joueur passionné depuis plus de 15 ans, le basket est mon premier amour. Chaque dribble, chaque panier raconte une histoire de détermination et d'esprit d'équipe. C'est dans le monde du basket que j'ai forgé mon caractère et appris à travailler en équipe.  </p>
						</div>
					</div>
				</div>
			</div>

      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('coding.jpg') %>')">
						<div class="inner">
							<p>Code</p>
              <span>Programmation / les internets</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Des bancs du lycée à la ligne de code, ma reconversion dans le développement web est un nouveau chapitre passionnant. Transformant des idées en lignes de code, je construis des expériences en ligne engageantes et innovantes.</p>
						</div>
					</div>
				</div>
			</div>

      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('reading.jpg') %>')">
						<div class="inner">
							<p>Lecture</p>
              <span>Littérature and Co.</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Enseignant de littérature, je trouve dans les fictions policières et d'anticipation non seulement une échappatoire, mais aussi un reflet poignant de la vie. Chaque livre offre un regard unique sur notre réalité.</p>
						</div>
					</div>
				</div>
			</div>

      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('guitar.jpg') %>')">
						<div class="inner">
							<p>Musique</p>
              <span>Overdosing Spotify</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>La musique est une autre passion qui résonne en moi. Ma collection d'instruments est une symphonie de souvenirs et d'inspirations des pays que j'ai pû visiter, toujours prête à donner vie à de nouvelles mélodies.</p>
						</div>
					</div>
				</div>
			</div>

      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('teaching.jpg') %>')">
						<div class="inner">
							<p>Enseignement</p>
              <span>Apprendre, partager, transmettre</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>L'enseignement est un fil conducteur dans ma vie. Du terrain de basket à la salle de classe, j'ai enseigné le basket, l'anglais et la littérature. Actuellement, je partage ma passion pour l'enseignement dans une école de programmation.</p>
						</div>
					</div>
				</div>
			</div>

      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container-card">
					<div class="front" style="background-image: url('<%= asset_path('english.jpg') %>')">
						<div class="inner">
							<p>Anglais</p>
              <span>Langue et Culture</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Amoureux des langues et globe-trotter, je célèbre l'anglais comme un pont vers des mondes divers, favorisant la compréhension et la connexion humaine. Chaque mot tisse des liens, chaque conversation dévoile des mondes.</p>
						</div>
					</div>
				</div>
			</div>

    </div>
  </div>

  <%= render 'footer' %>
</div>
